.chart-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.chart-bar_inner{
    height: 13vh;
    width: 13px;
    border-radius: 12px;
    background-color: aquamarine;
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    
}

.chart-bar_fill{
    background-color: black;
    transition: 0.6s all;

}

.chart-bar_label{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: white;
}