.delete {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}
.delete button:hover{
    transform: scale(1.1);
    transition: 0.8s all ease-out;
}