.dblock{
    display:block ;
}

.dNone{
    display: none;
}

.list{
    background-color: rgb(156, 152, 152);
    width: 90%;
    border-radius: 12px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10pxq;
}

.inputTitle{
    background-color: white;
    width: 70%;
    height: 3vh;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-left: 15px;
    padding: 20px;
    margin-top: 10px;
}

.addNewBtn input,
.addExpBtn{
    background-color: antiquewhite;
    width: 115px;
    height: 5vh;
    outline: none;
    border-radius: 5px;
    border: none;
    font-family: 'Times New Roman','Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 30px;
    cursor: pointer;
}

.addExpBtn:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.5s all ease;
}

.list label{
    margin-left: 15px;
    font-size: 1.2rem;
    line-height: 35px;
}

.addExp{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    grid-column-end: 3;
}

.newbtn{
    background-color: rgb(156, 152, 152);
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.newbtn input:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.5s all ease;

}
@media(max-width:500px){
    .list{
        display: block;
    }
}